.footer{
    background-color: #030910;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #257be5;
}

.logo-footer{
    width: 10rem;
}