
.video-card {
    display: flex;
    width: 500px;
    height: 350px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    border-radius: 5px;
    background-color: #6bd0ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    box-sizing: border-box;
    position: relative;
}

.delete{
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.delete:hover{
    color: rgb(244, 64, 64);
    cursor: pointer;
}

.edit{
    position: absolute;
    top: 30px;
    right: -15px;
    font-size: 33px;
    color: #ffffff;
}

.edit:hover{
    color: #6bd0ff;
    cursor: pointer;
}


.title-video {
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

.button-section {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.button-category {
    padding: 10px 30px;
    font-size: x-large;
    border: none;
}

@media (max-width: 600px) {
    .video-card {
        width: 250px;
        height: 300px;
    }

    .title-video {
        font-size: 20px;
    }
}