.banner-container{
    width: 100%;
    height: 40rem;
    background-image: url('../../assets/banner-background.jpg');
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-container section{
    position: relative;
    display: flex;
    max-width: 80rem;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.banner-content{
    color: white;
    width: 50%;
    font-size: large;
}

.team-name{
    background-color: #6bd0ff;
    color: white;
    border-radius: 15px;
    font-size: 25px;
    font-weight: bold;
    width: 200px;
    height: 60px;
    border: none;
    margin-bottom: 30px;
}

.section-title{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}

.section-content-description{
    font-size: 24px;
    font-weight: 400;
}

.banner-section-video{
    border: #6bd0ff 3px solid;
    border-radius: 15px;
}